
.selectGroup{
    padding: 3px;
}

.displayButton{
    position: relative;
}

.dropOnClick{
    position: absolute;
    width: 250px;
    background-color: #7a7a86;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 10;
}

.dropOnClick > *{
    width: 100%;
}

.btn {
    background: #f8f8fa;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}

.selectStyle{
    width: 100px;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}